<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body background="">
		<img src="img/frog.gif" >
			
		</body>
		<div id="app">
			
		<table border="1">
		    <tr>
		        <th width="200"height="200">转十进制</th>
				<td></td>
		        <th width="200"height="200">转二进制</th>
				<td></td>
				<th width="200"height="200">转八进制</th>
				<td></td>
				<th width="200" height="200">转十六进制</th>
		    </tr>
			<tr>
			        <td width="200" height="200">二进制<input type="text"  v-model="a1" name="" id="" value="" /></td>
					<td width="200" height="200">结果{{d1}}</td>
			        <td width="200" height="200">八进制<input type="text"  v-model="a2" name="" id="" value="" /></td>
					<td width="200" height="200">结果{{d2}}</td>
					<td width="200" height="200">十六进制<input type="text"  v-model="a3" name="" id="" value="" /></td>
					<td width="200" height="200">结果{{d3}}</td>
					<td width="200" height="200">十进制<input type="text"  v-model="a4" name="" id="" value="" /></td>
					<td width="200" height="200">结果{{d4}}</td>
				</tr>
			    <tr>
			        <td width="200" height="200">十六进<input type="text"  v-model="b1" name="" id="" value="" /></td>
					<td width="200" height="200">结果{{q1}}</td>
			        <td width="200" height="200">十六进制<input type="text"  v-model="b2" name="" id="" value="" /></td>
					<td width="200" height="200">结果{{q2}}</td>
					<td width="200" height="200">二进制<input type="text"  v-model="b3" name="" id="" value="" /></td>
					<td width="200" height="200">结果{{q3}}</td>
					<td width="200" height="200">二进制<input type="text"  v-model="b4" name="" id="" value="" /></td>
					<td width="200" height="200">结果{{q4}}</td>
			    </tr>
		</table>
		</div>
			<script type="text/javascript">
			var vm = new Vue({
			el: '#app',
			data: {
				a1:'0',
				a2:'0',
				a3:'0',
				a4:'0',
				b1:'0',
				b2:'0',
				b3:'0',
				b4:'0',
				c1:'0',
				c2:'0',
				c3:'0',
				c4:'0',
			},
			computed: {
				d1: function() {
					return parseInt(this.a1, 2);
				},
				d2: function() {
					return (parseInt(this.a2, 8)).toString(2);
				},
				d3: function() {
					return (parseInt(this.a3, 16)).toString(8);
				},
				d4: function() {
					return (parseInt(this.a4)).toString(16);;
				},
				q1: function() {
					return parseInt(this.b1, 8);
				},
				q2: function() {
					return (parseInt(this.b2, 16)).toString(2);
				},
				q3: function() {
					return (parseInt(this.b3, 2)).toString(8);
				},
				q4: function() {
					return (parseInt(this.b4, 2)).toString(16);
				},
			}
		});
	</script>
</body>
<html>